body{
      background-image: url(dec21.jpg);
      background-repeat: no-repeat;
      background-size: cover;
     font-family: sans-serif;
}

.container{
    margin: 10% auto;
    margin-top: 100px;
    width: 380px;
    background-color:0 0 0 1;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    border-style: none;
    box-shadow: 0 0 10px #333;
}
.header{
    text-align: center;
    padding-top: 75px;
}

.header h1{
    color: black;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 80px;
}

.main{
    text-align: center;
}

.main input, button{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
     box-sizing: border-box;
     font-size: 15px;
     color: #333;
     margin-bottom: 40px;
}

.main button{
    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
}
.main button:hover, input:hover{
    box-shadow: 2px 2px 5px #555;
}

}